// site.scss

// Variables (you can expand this later)
$primary-bg: #222831;
$card-bg: #393E46;
$accent-color: #00ADB5;
$accent-hover: #00cfd9;
$text-color: #EEEEEE;
$font-main: 'Segoe UI', sans-serif;

html, body{
    height: 100%;
}

body {
    background-color: $primary-bg;
    color: $text-color;
    font-family: $font-main;
}

.btn-primary {
    background-color: $accent-color;
    color: $primary-bg;
    border: none;

    &:hover {
        background-color: $accent-hover;
        box-shadow: 0 0 10px $accent-color;
    }
}

#landingPage {
    .nav-tabs {
        background-color: $card-bg;
        border-bottom: none;

        .nav-link {
            color: $text-color;
            border: none;

            &.active {
                background-color: $accent-color;
                color: $primary-bg;
            }
        }
    }

    .custom-card {
        background-color: $card-bg;
        color: $text-color;
    }

    .form-label {
        color: $text-color;
    }

}

#resetPasswordCard, #forgotPasswordCard {
    background-color: $card-bg;
    color: $text-color;

    a{
        color: $accent-color;
    }
}

#forgotPasswordCard {
    .input-wrapper {
        position: relative;
        display: inline-block
    }

    .input-wrapper input {
        padding-right: 30px;
    }

    .input-wrapper button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

#cocText {
    background-color: $card-bg;
    max-height: 540px;
    overflow-y: auto;
    padding: 15px;
    border-radius: 8px;

    hr {
        border: 1px solid $text-color;
    }
}

#registerConfirmDiv, 
#codeOfConductDiv, 
#characterCreateDiv {
    background-color: $card-bg;
    color: $text-color;

    .header-title {
        border-bottom: 2px solid $accent-color;
    }
}

#characterCreateDiv{
    .ql-container {
        background-color: #fff;
        min-height: 200px;
    }

    .ql-editor {
        min-height: 150px;
        padding: 12px;
        color: black;
    }

    .ql-toolbar {
        border-radius: 6px 6px 0 0;
        background-color: #f8f8f8;
    }

    .ql-toolbar svg {
        fill: #EEEEEE;
    }
}
